body {
    background-color: #80A19B;
}

img {
    width: 80%;
    border-radius: 50%;
    align-content: center;
}

h1 {
    font-size: 4vw;
    font-family: 'monotalic';
}

.inverse {
    display: inline-block;
    background-color: black;
    border-radius: 9px/8px;
    border-width: 10px;
    color:#80A19B ;
    padding: 1%;
    z-index: 6;
}

.inverse:hover {
    background-color:#80A19B ;
    color: white;
    cursor: pointer;
}

h2 {
    position: relative;
    font-size: 32px;
    font-family: 'monotalic';
    padding-right: 4%;
    padding-bottom: 5%;
    line-height: 104%;

}

h3 {
    font-size: 16px;
    font-family: 'hero-new', sans-serif;
    font-weight: 400;
    z-index: 2;
}

.italictext {
    font-style: italic; 
}


p {
    padding-top: 5%;
    padding-bottom: 5%;
}

.you {
    margin-top: 50%;
    padding-left: 5vw;
    padding-bottom: 3%;
}

.are {
    padding-left: 1vw;
    padding-bottom: 3%;
}

.at {
    padding-left: 3vw;
    padding-bottom: 3%;
}

.the {
    padding-left: 4vw;
    padding-bottom: 3%;
}

.pond {
   padding-left: 0.5vw;
   margin-bottom: 3%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    width: 90vw;
    background-color:#80A19B;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.small {
   position: relative;
    height: 100%;
    width: 14.2857%;
    border: 1px solid black;
}

.moss img {
    width: 100%;
    align-items: baseline;
    position: absolute;
    left: 0%;
    bottom: 0%;
}

.half {
    background-color: chartreuse;
    height: 100%;
    width: auto;
    border: 1px solid black;
}

.smallblack {
    position: relative;
    height: 100%;
    width: 14.2857%;
    border: 1px solid black;
    background-color: black;
    padding-bottom: 10%;
    border-radius: 0%;
}

.koi img {
    position: relative;
    margin-left: 10%;
    cursor: pointer ;

}

.koi img:hover{
    filter: invert(100%);
    position: relative;
}

.fern img {
    position: relative;
    margin-top: 120%;
    margin-left: 10%;
    z-index: 3;
}

.fern img:hover {
    filter: invert(100%);
    position: relative;
}

.koipond img {
    position: relative;
    width: 100%;
    border-radius: 0%;
}

.koipond img:hover {
    filter: invert(100%);
}

.tank img {
    position: relative;
    width: 100%;
    border-radius: 0%;
    padding-bottom: 8%;

}

.waterfall img {
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
}

.waterfall img:hover {
    filter: invert(100%);
    position: relative;
    z-index: 3;
}

.moss img {
    width: 100%;
    border-radius: 0%;
}

.moss img:hover{
    filter: invert(100%);
}

.touch {
    margin-top: 100%;
    padding: 3%;
    line-height: 120%;
    font-size: 16px;
    font-family: 'hero-new', sans-serif;
    font-weight: 600;
    z-index: 0;
}



.large {
   position: relative;
    height: 100%;
    width: 28.5714%;
    border: 1px solid black;
    padding: 3%;
    overflow-y: scroll;
    overflow-x: scroll;
}
