
body {
background-image: url('Pondbackground.jpg');
}

a {
    color: white;
}

.pond{
	position: absolute;
	width: 100vw;
	font-size: 110px;
	top: 0%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 100vh;
	font-family: 'monotalic';
}