body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 0px;
}

a {
	color: black;
	text-decoration: none;
	
}

@font-face {
	font-family:'silkamono';
	src: url('Fonts/SilkaMono-Regular.otf');
}

@font-face {
	font-family: 'futurablack';
	src: url('fonts/FuturaBlack.ttf');
}

@font-face {
	font-family: 'gilroy';
	src: url('Fonts/Gilroy-ExtraBold.otf');
}

@font-face {
	font-family: 'frequenz';
	src: url('Fonts/FrequenzTrial-MediumItalic.ttf');
}

@font-face {
	font-family: 'bagnard';
	src: url(Fonts/Bagnard.otf);
}

@font-face {
	font-family: 'blackout';
	src: url(Fonts/Blackout.ttf);
}

@font-face {
	font-family: 'grotesk';
	src: url(Fonts/Grotesk.otf);
}

@font-face {
	font-family: 'sequenz';
	src: url(Fonts/Sequenz.ttf);
}

@font-face {
	font-family: 'ITC';
	src: url(Fonts/ITC.ttf);
}

@font-face {
	font-family: 'oldschool';
	src: url(Fonts/Oldschool.ttf);
}

@font-face {
	font-family: 'queens';
	src: url(Fonts/Queens.ttf);
}

img {
	width: 100vw;
	height: auto;
}

.textoverlay1{
	position: relative;
	width: 100vw;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	font-size: 0%;
}

.overlaytitle1{
	position: absolute;
	width: 100vw;
	height: 100%;
	font-size: 7vw;
	text-align: center;
	top: 0%;
	vertical-align: middle;
	line-height: 30vw;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: 'monotalic';
}

.white1 {
	position: relative;
	width: 100vw;
	height: 100%;
	max-width: 100%;
	font-size: 6vw;
	background-color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 550%;
	font-family: 'silkamono';
}

.textoverlay2{
	position: relative;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	font-size: 0%;
}

.overlaytitle2{
	position: absolute;
	width: 100vw;
	height: 100%;
	max-width: 100%;
	font-size: 7vw;
	top: 0%;
	text-align: center;
	line-height: 30vw;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: 'source-code-pro';
}

.black1 {
	width: 100vw;
	height: 100%;
	max-width: 100%;
	font-size: 6vw;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 550%;
	font-family: 'futurablack';
}

.white2 {
	width: 100vw;
	height: 100%;
	max-width: 100%;
	font-size: 7vw;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 450%;
	font-family: 'gilroy';
}

.textoverlay3{
	position: relative;
	width: 100vw;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}


.overlaytitle3{
	position: absolute;
	width: 100vw;
	height: 100%;
	max-width: 100%;
	font-size: 7vw;
	top: 0%;
	text-align: center;
	line-height: 420%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: 'HelveticaNeue-CondensedBlack'
	
}

.black2 {
	width: 100vw;
	height: 100%;
	max-width: 100%;
	font-size: 7vw;
	background-color: black;
	color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 420%;
	font-family: 'frequenz';
}

.textoverlay4{
	position: relative;
	width: 100vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.overlaytitle4{
	position: absolute;
	width: 100vw;
	height: 100%;
	font-size: 8vw;
	top: 0%;
	text-align: center;
	line-height:400%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: 'bagnard';
}

.white3 {
	width: 100vw;
	height: 100%;
	max-width: 100%;
	font-size: 8vw;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 440%;
	font-family: 'blackout';
}

.textoverlay5{
	position: relative;
	width: 100vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.overlaytitle5{
	position: absolute;
	width: 100vw;
	height: 100%;
	font-size: 8vw;
	top: 0%;
	text-align: center;
	line-height: 380%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: 'roboto', sans-serif;
	font-weight: 900;
	font-style: italic;
}

.white4 {
	width: 100vw;
	height: 100%;
	max-width: 100%;
	font-size: 7vw;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 450%;
	font-family: 'grotesk';
	letter-spacing: -5px;
	word-spacing: 10px;
}

.black3 {
	width: 100vw;
	height: 100%;
	max-width: 100%;
	font-size: 7vw;
	background-color: black;
	color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 450%;
	font-family: 'sequenz';
}


.textoverlay6{
	position: relative;
	width: 100vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.overlaytitle6{
	position: absolute;
	width: 100vw;
	height: 100%;
	font-size: 7vw;
	top: 0%;
	text-align: center;
	line-height: 450%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: 'bely-display', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.white5 {
	width: 100vw;
	height: 100%;
	max-width: 100%;
	font-size: 8vw;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 400%;
	font-family: 'ITC';
}

.textoverlay7{
	position: relative;
	width: 100vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.overlaytitle7{
	position: absolute;
	width: 100vw;
	height: 100%;
	font-size: 7vw;
	top: 0%;
	text-align: center;
	line-height: 450%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: 'oswald', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.black4 {
	width: 100vw;
	height: 100%;
	max-width: 100%;
	font-size: 7vw;
	background-color: black;
	color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 450%;
	font-family: 'oldschool';
}

.textoverlay8{
	position: relative;
	width: 100vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.overlaytitle8{
	position: absolute;
	width: 100vw;
	height: 100%;
	font-size: 8vw;
	top: 0%;
	text-align: center;
	line-height: 450%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: 'queens';
}

.pond{
	position: absolute;
	width: 100vw;
	font-size: 110px;
	top: 0%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 100vh;
	font-family: 'monotalic';
}

.grass{
	position: absolute;
	width: 100vw;
	font-size: 110px;
	top: 0%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 100vh;
	font-family: 'monotalic';
}

.flowers{
	position: absolute;
	width: 100vw;
	font-size: 110px;
	top: 0%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 100vh;
	font-family: 'monotalic';
}





