body {
	background-color: #9F07B2;
}

@font-face {
font-family: 'kilo';
src: url('fonts/kilo.otf');

}

.container {
display: flex;
flex-wrap: wrap;
}

.row {
width: 33.33%;
height: 75vh;
}

.row.child {
overflow: scroll;
}

.row.child img {
width: 100%;
padding-bottom: 10%;
margin-top: 10%;
}

.title {
height: 25vh;
font-size: 120px;
text-align: center;
font-family: 'kilo';
padding-top: 2%;
color: #5a0065;
}

.row.wormholes img {
	width: 60%;
	border-radius: 50%;
	margin-left: 20%;
	margin-top: 25%;
}

.row.wormholes:hover {
	filter: invert(100%);
	cursor: pointer;
}

