body {
	font-size: 28px;
}

.main {
	margin: 20px;
}

.menu {
	background-color: white;
	width: 33%;
	height: 100vh;
	position: fixed;
	right: 0px;
	top:0px;
	box-shadow: -5px 0px 10px 2px gray;
	padding: 20px;
	margin-right: -40%;
	transition: 1s;
}

.menu.open {
	transition: 1s;
	margin-right: 0%;
}

.nav {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 2;
}

.button {
	cursor: pointer;

}

