body {
	font-family: inherit;

}

a {
	color: inherit;
	text-decoration: inherit;
}

.header {
display: flex;
width: 100%;
height: 10vh;
}

.nav {
flex-wrap: wrap;
width: 5vh;
height: 5vh;
margin: 2%;
background-color: black;
border-radius: 50%;
}

.bar {
flex-wrap: wrap;
width: 92%;
height: 5vh;
margin-top: 2%;
margin-right: 2%;
border: 1px black solid;
border-radius: 14px/12px;
}

.container {
	border-radius: 14px/12px;
	width: 66.6667%;
	height: 120vh;
	margin-top: 10%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
}

.row {
display: flex;
justify-content: space-between;
margin-bottom: 5%;
}

.circle {
flex-wrap: wrap;
height: 10vw;
width: 10vw;
border: solid black 1px;
border-radius: 50%;
}

.circle.black {
	background-color: black;
}

.circle.transparent {
	background-color: transparent;
	border: transparent;
}

.text {
	position: absolute;
	display: flex;
	margin-top: 3%;
	width: 37%;
	z-index: 6;
	font-size: 2.8vw;
	padding-top: 1%;
	padding-bottom: 0.225%;
	border: solid transparent 1px;
	background-color: transparent;
	color: transparent;
	margin-left: 4%;
	padding-left: 1%;
	border-radius:14px/12px ;
}

.text:hover {
	border: solid black 1px;
	background-color: white;
	color: black;
	cursor: pointer;
}

.text2 {
	position: absolute;
	display: flex;
	margin-top: 3%;
	width: 58%;
	z-index: 6;
	font-size: 2.8vw;
	padding-top: 1%;
	padding-bottom: 0.225%;
	color: transparent;
	border: solid transparent 1px;
	background-color: transparent;
	mix-blend-mode: difference;
	margin-left: 4%;
	padding-left: 1%;
	border-radius:14px/12px ;
}

.text2:hover {
	border: solid black 1px;
	background-color: white;
	color: black;
	cursor: pointer;
}

.text3 {
	position: absolute;
	display: flex;
	margin-top: 3%;
	width: 36%;
	z-index: 6;
	font-size: 2.8vw;
	padding-top: 1%;
	padding-bottom: 0.225%;
	border: solid transparent 1px;
	background-color: transparent;
	color: transparent;
	margin-left: 4%;
	padding-left: 1%;
	border-radius:14px/12px ;
}

.text3:hover {
	border: solid black 1px;
	background-color: white;
	color: black;
	cursor: pointer;
}

.text4 {
	position: absolute;
	display: flex;
	margin-top: 3%;
	width: 47%;
	z-index: 6;
	font-size: 2.8vw;
	padding-top: 1%;
	padding-bottom: 0.225%;
	border: solid transparent 1px;
	background-color: transparent;
	color: transparent;
	margin-left: 4%;
	padding-left: 1%;
	border-radius:14px/12px ;
}

.text4:hover {
	border: solid black 1px;
	background-color: white;
	color: black;
	cursor: pointer;
}

.big {
	flex-wrap: wrap;
	font-family: 'grandheavy';
	margin-right: 0.5%;
	margin-left: 0.5%;
}

.small {
	flex-wrap: wrap;
	font-family: 'tightthin';
	

}















@font-face {
	font-family:'grandheavy';
	src: url(fonts/Agrandir-GrandHeavy.ttf);
}

@font-face {
	font-family:'grandlight';
	src: url(fonts/Agrandir-GrandLight.otf);
}

@font-face {
	font-family:'variable';
	src: url(fonts/Agrandir-Variable.ttf);
}


@font-face {
	font-family: 'tightthin';
	src: url(fonts/Agrandir-TightThin.otf);
}

