body {
font-family: inherit;

}

a {
color: inherit;
text-decoration: inherit;
}

p {
font-size: 20px;
font-family: 'telegrafregular';
line-height: 110%;
margin-bottom: 8%;
text-align: justify;
color: white;
}

.content {
display: flex;
flex-direction: row;
width: 100vw;
height: 100vh;
}

.left {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
height: 100vh;
width: 19vw;

}

.header {
display:flex;
flex-wrap: wrap;
justify-content: space-between;
flex-direction: column;
width: 10vw;
}

.nav {
flex-wrap: wrap;
width: 5vh;
height: 5vh;
margin-left: 2vw;
margin-top: 2vw;
background-color: black;
border-radius: 50%;
z-index: inherit;
cursor: pointer;
}

.home {
flex-wrap: wrap;
margin-left: 2vw;
margin-bottom: 1.5vw;
font-family: 'telegrafregular';
cursor: pointer;
z-index: 100;
}
    
.home:hover {
font-style: italic;
}

.menu {
position: fixed;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 84vh;
width: 22vh;
left: -40vw;
top: 10vh;
border-radius: 14px/12px;
font-size: 40px;
z-index: 1;
transition: all 1s;
}
    
.menumenu {
display: flex;
flex-wrap: wrap;
height: 24vh;
width: 24vh;
border-radius: 50%;
background-color: white;
color: black;
margin-left: 2vh;
font-size: 18px;
font-family: 'telegrafregular';
text-align: center;
justify-content: center;
align-content: center;
flex-direction: column;
cursor: pointer;
}
    
.menumenu:hover {
filter: invert(100%);
-webkit-filter: (5px);
}
    
.menu.showme {
left: 2vw;
top: 10vh;
transition: all 1s;
}

.right {
position: fixed;
right: 0;
top: 0;
display: flex;
flex-wrap: wrap;
flex-direction: column;
height: auto;
width: 81vw;
overflow-y: scroll;
}   

.fixed {
display: flex;
flex-wrap: wrap;
flex-direction: row;
}


.bar {
position: fixed;
flex-wrap: wrap;
width: 79vw;
height: 5vh;
border-radius: 14px/12px;
line-height: 5.5vh;
margin-top: 2%;
margin-right: 2%;
padding-left: 1.5%;
padding-right: 1.5%;
background-color: black;
text-align: right;
color: white;
font-family: 'narrow';
font-size: 18px;
z-index: 1000;
}

.imagecontainer {
flex-wrap: wrap;
position: fixed;
z-index: 1;
height: 85vh;
width: 79vw;
right: 2vw;
top: 8vh;
margin-top: 2%;
border-radius: 22px/20px;
background-image: url(highway.jpg);
background-size: cover;
background-position: 0px -150px;
-webkit-filter: blur(3px);
}


.container {
display:flex;
flex-wrap: wrap;
border-radius: 22px/20px;
padding-top: 85vh;
width: 79vw;
height: 120vh;
z-index: 90;
    
 }

.textintro {
width: 95%;
height: 4vh;
margin-left: auto;
margin-right: auto;
margin-bottom: 2vh;
font-family: 'narrow';
color: white;
font-size: 18px;
filter: blur(0.25px);
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.textintro:after {
content: "";
float: left;
background: #ffffff;
filter: blur(0.5px);
width: 100%;
height: 4px;
border-radius: 3px;
margin-top: 5px;
}

.longtitle {
width: 95%;
margin-left: auto;
margin-right: auto;
font-family: 'narrow';
filter: blur(0.25px);
color: white;
font-size: 18px;
text-align: right;
}

.credits {
font-family: 'narrow';
font-size: 18px;
color: white;
text-transform: uppercase;
}

.thi{
display:inline;
text-decoration: underline 1px white;
}

.dresser {
display:inline;
text-decoration: underline 1px white;
}

  
.largecolumn {
display: flex;
flex-wrap: wrap;
margin-left: auto;
margin-right: auto;
margin-top: 20vh;
padding-bottom: 15vh;
border-radius: 22px/20px;
width: 45%;
height: auto;
align-content: flex-start;
}
    
.title {
width: 100%;
height: 16vw;
font-size: 4.5vw;
border: 3px white solid;
background-color: transparent;
color: white;
border-radius: 22px/20px;
padding-top: 5%;
padding-left: 4%;
padding-bottom: 2%;
font-family: 'grandheavy';
margin-bottom: 8%;
-webkit-filter: blur(1.5px);
 }
    
.title:hover {
-webkit-filter: blur(0px);
transition: 1s;
}
    
.row1 {
flex-wrap: wrap;
border: 3px white solid;
color: white;
background-color: transparent;
border-radius: 22px/20px;
width: 42%;
height: 16vw;
margin-right: 8%;
padding: 3%;
-webkit-filter: blur(1.5px);
    
}
    
.row1:hover {
-webkit-filter: blur(0px);
transition: 1s;
}
    
.row2{
flex-wrap: wrap;
border: 3px white solid;
color: white;
background-color: transparent;
border-radius: 22px/20px;
width: 50%;
height: 16vw;
padding: 3%;
-webkit-filter: blur(1.5px);
    
}
    
.row2:hover {
-webkit-filter: blur(0px);
transition: 1s;
}
    
.row4 {
flex-wrap: wrap;
border-radius: 22px/20px;
padding-left: 2%;
padding-right: 2%;
padding-bottom: 20%;
margin-top: 10%;
    
}

.text {
z-index: 5;
}
    
.quote {
border: 3px solid white;
-webkit-filter: blur(1.5px);
color: white;
font-size: 50px;
font-family: 'telegrafultrabold';
padding: 5%;
border-radius: 22px/20px;
margin-bottom: 8%;
z-index: -1;
}
    
.quote:hover {
-webkit-filter: blur(0px);
transition: 1s;
}

    
    h1 {
    font-family: 'telegrafregular';
    font-size: 0.75vw;
    }
    
    h2{
    font-family: 'telegrafregular';
    font-size: 2.025vw;
    }
    
    h3{
    font-family: 'telegrafultrabold';
    font-size: 2vw;
    }
    
    h4 {
    font-family: 'grandheavy';
    font-size: 4.3vw;
    display: inline;
    
    }
    
    h5 {
    font-family: 'grandlight';
    display: inline;
    }



@font-face {
	font-family:'grandheavy';
	src: url(fonts/Agrandir-GrandHeavy.ttf);
}

@font-face {
	font-family:'grandlight';
	src: url(fonts/Agrandir-GrandLight.otf);
}

@font-face {
	font-family:'variable';
	src: url(fonts/Agrandir-Variable.ttf);
}

@font-face {
	font-family: 'tightthin';
	src: url(fonts/Agrandir-TightThin.otf);
}

@font-face {
	font-family: 'narrow';
	src: url(fonts/Agrandir-Narrow.otf);
}

@font-face {
	font-family: 'telegrafregular';
	src: url(fonts/Telegraf-Regular.otf);
}

@font-face {
	font-family: 'telegrafultrabold';
	src: url(fonts/Telegraf-UltraBold.otf);
}

